apiVersion: v1
kind: PersistentVolume
metadata:
  name: vora-vflow-pv
spec:
  capacity:
    storage: {{ gcloud_persistent_disk_size }}Gi
  accessModes:
  - ReadWriteOnce
  gcePersistentDisk:
    pdName: {{ gcloud_persistent_disk_name }}
    fsType: ext4
  persistentVolumeReclaimPolicy: Retain

