# Docker Upstart and SysVinit configuration file
# Customize location of Docker binary (especially for development testing).
#DOCKER="/usr/local/bin/docker"
# Use DOCKER_OPTS to modify the daemon startup options.

# If you need Docker to use an HTTP proxy, it can also be specified here.
{% if cluster_provider|default() == "monsoon" %}
  export http_proxy="{{ http_proxy }}"
  export no_proxy="{{ no_proxy }}"
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"
DOCKER_OPTS="$DOCKER_OPTS -H tcp://0.0.0.0:4243 -H unix:///var/run/docker.sock"
