platform: {{cloud_platform}}
gcloud container registry address: {{ gke_docker_registry_address }}
{% if gke_bucket_name is defined %}
gcloud storage bucket name: {{gke_bucket_name}}
{% endif %}
{% if k8s_version is defined %}
kubernetes version: {{k8s_version}}
{% endif %}
datahub version: {{vorapkg_version}}
datahub namespace: {{vora_kube_namespace}}
{% if expose_vsystem == "yes" %}
datahub launch-pad endpoint: {{vsystem_entry}}
{% endif %}
{% if di_backup_path_prefix is defined %}
di backup path prefix: {{di_backup_path_prefix}}
{% endif %}
datahub user tenant name: default
datahub system tenant name: system
datahub user/system tenant user: {{vora_username}}
datahub user tenant password: {{vora_password}}
datahub system tenant password: {{vora_system_tenant_password}}
{% if vora_kubernetes_local_pkg is not defined %}
datahub package url: {{vora_kube_download_url}}
{% endif %}
